@use '../abstract/mixins.scss';
@use '../abstract/_colours.scss';

.game__header {
    width: 100vw;
    @include mixins.flex-center;

    &--inner {
        @include mixins.flex-space-between;
        max-width: 1217px;
        width: 100%;
        height: 62px;
        background-color: colours.$color-primaryDark;
        margin-bottom: 32px;
    }
}