@use '../abstract/mixins.scss';
@use '../abstract/_colours.scss';
@use '../abstract/fonts.scss';


.config-screen__settings-wrapper {

    width: 251px;

    >h1 {
        font-size: 54px;
        font-weight: 700;
        margin-bottom: 0px;
    }

    >img {
        width: 100%;
        margin-bottom: 32px;
        margin-top: -10px;
        width: 235px;
        margin-left: -10px;
    }
}

.config-screen {
    height: 100vh;
    width: 100%;
    background-color: colours.$color-white;
    @include mixins.flex-center;
    gap: 100px;

}

.fieldset {
    min-inline-size: min-content;
    border-style: none;
    padding: 26px 24px;
}

.settings__config--checkline {
    display: inline-block;
    width: 42px;
    height: 0;
    border-top: 3px solid colours.$color-yellow;
    opacity: 0;
    margin-left: 10px;
}

.settings__config--checkpoint {
    display: inline-block;
    width: 10px;
    height: 10px;
    rotate: 50deg;
    background-color: rgb(240, 234, 110);
    opacity: 0;
}


.settings__config {
    @include mixins.flex-center;
    margin-left: -32px;

    &--checkmark {
        display: flex;
        align-items: center;
    }

    &--headline {
        font-size: 24px;
        font-weight: 700;
        margin: 0px;
    }

    &--img {
        margin-right: 8px;
        width: 26px;
        height: 26px;
    }

    // &--optins {
    //     padding-bottom: 8px;
    //     display: flex;
    //     align-items: center;
    // }

    &--optins:hover {
        font-weight: bold;

        .settings__config--checkline {
            opacity: 1;
        }

        .settings__config--checkpoint {
            opacity: 1;
        }
    }
}


.settings__config--circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid black;
}

label {
    cursor: pointer
}

//  design button 

.settings__config--optins {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    position: relative;


    input[type="radio"] {
        position: absolute;
        opacity: 0;
    }

    &:hover .settings__config--circle::after {
        transform: translate(-50%, -50%) scale(1);
    }

    input[type="radio"]:checked+.settings__config--circle::after {
        transform: translate(-50%, -50%) scale(1);
    }

}


.settings__config--circle {
    width: 16px;
    height: 16px;

    border: 2px solid colours.$codeVibes-primaryDark;
    border-radius: 50%;
    position: relative;

    // Innerer Punkt mit hover-Effekt
    &::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;

        background-color: colours.$codeVibes-primaryDark;
        border-radius: 50%;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%) scale(0);

        transition: transform 0.1s ease;
    }
}

.settings__config--checkline,
.settings__config--checkpoint {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.settings__config--optins:hover .settings__config--checkline,
.settings__config--optins:hover .settings__config--checkpoint {
    opacity: 1;
}

input[type="radio"]:checked ~ .settings__config--checkmark .settings__config--checkline,
input[type="radio"]:checked ~ .settings__config--checkmark .settings__config--checkpoint {
    opacity: 1;
}




















.config-screen__image {

    @include mixins.flex-column;
    align-items: end;
    color: var(--primary);
    font-weight: 400;
    font-size: 20px;


    &--text {
        @include mixins.flex-center;
        width: 546px;
        height: 81px;
        gap: 16px;
        margin-top: 16px;
        background-color: colours.$color-lightGrey;
        padding: 0px 16px;
        color: var(colours.$codeVibes-primaryDark);
    }
}